{% extends "base.html" %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
        <div class="owl-banner owl-carousel">
            {% for service in services %}
                <div style="padding: 300px 0px;
                        background-image: url({{ service.image.url }});
                        background-size: cover; background-repeat: no-repeat;
                        background-position: center center">
                    <div class="text-content">
                        <h4>{{ service.title }}</h4>
                        <h2>{{ service.description }}</h2>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="latest-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Latest Products</h2>
                        <a href="#">view all products <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                {% for product in products %}
                    <div class="col-md-4">
                        <div class="product-item">
                            <a href="#"><img src="{{ product.image.url }}" alt="{{ product.title }} image"></a>
                            <div class="down-content">
                                <a href="#"><h4>{{ product.title }}</h4></a>
                                <h6>${{ product.price }}</h6>
                                <p>{{ product.description }}</p>
                                <ul class="stars">
                                    {% if product.rating == 5 %}
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    {% elif product.rating == 4 %}
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    {% elif product.rating == 3 %}
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    {% elif product.rating == 2 %}
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    {% else %}
                                        <li><i class="fa fa-star"></i></li>
                                    {% endif %}
                                </ul>
                                <span></span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="best-features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>About Sixteen Clothing</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>{{ aboutus.title }}</h4>
                        <p>{{ aboutus.body }}</p>
                        <a href="{% url "about:main" %}" class="filled-button">Read More</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-image">
                        <img src="{{ aboutus.image.url }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}