{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">

    <title>
        {% block title %}
        {% endblock %}
    </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!--

    TemplateMo 546 Sixteen Clothing

    https://templatemo.com/tm-546-sixteen-clothing

    -->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static "css/fontawesome.css" %}">
    <link rel="stylesheet" href="{% static "css/templatemo-sixteen.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.css" %}">

</head>

<body>

<!-- ***** Preloader Start ***** -->
{% include "includes/preloader.html" %}
<!-- ***** Preloader End ***** -->

<!-- Header -->
{% include "includes/header.html" %}

{% block body %}
{% endblock %}


{% include "includes/scripts.html" %}


</body>

</html>
